* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

nav ul {
    list-style-type: none;
    /* margin-left: 30px; */
    /* margin-top: 35px; */
    font-size: 1.5rem;

}

.gameContainer {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.container {
    /* background-color: rgb(249, 248, 247); */
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);

}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(246, 237, 255);
}

.gameInfo {
    padding: 0 35px;
    margin-left: 40px;
    margin-top: 60px;
}

.info {
    margin: 20px;
    padding: 0 20px;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.br-0 {
    border-right: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    background-color: black;
    color: white;
    height: 4vw;
    width: 15vw;
    border-radius: 30px;
    margin: 30px 30px;
    /* padding: 2px 10px; */
}

.line {
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}


@media (max-width:700px) {
    .gameContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 50px;
    }

    .gameInfo h1 {
        font-size: 1.5rem;
    }

    #reset {
        height: 8vw;
        width: 20vw;
    }

    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}